.banner {
	background-image: url(../../images/elettra.jpg);
	color: white;
	padding: 150px 0px;
	background-size: cover;
	background-position: center;
	height: 70px;
}

.banner h1 {
	font-size: 40px;
}


.banner ul {
	font-weight: lighter;
	color: white;
}

.banner li {
	color: white;
}

