.productcard {
	
}


.productcard img {
  height: auto;
  vertical-align: middle;
  width:  230px;
  height: 230px;
  background-position: 50% 50%;
  background-repeat:   no-repeat;
  object-fit: scale-down;
}

.productcard h2 {
	padding-left: 75px;
   	background:#FFF;
  	opacity:0;
}


.productcard:hover { 
	  opacity: 0.6;
      filter: alpha(opacity=20);
      transform: scale(1.1);
      transition: transform .5s ease;
      overflow: hidden;
	}

.productcard:hover h2 { 
	  opacity: 1;
	}


@media (max-width: 1100px) { 
	.productcard img { 
	width: 340px; 
	}
	}

