.videosection {
	display: flex;
	flex-direction: column;
	align-items: center;
}


@media (max-width: 600px) { 
	.videosection iframe { 
	left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
	}
	}


@media (max-width: 600px) { 
	.videosection { 
   	overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
	}
	}

